*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-prime: #311603;
    --bg-prime-2: #5e3417;
    --bg-second: #784E3A;
    --bg-second-transparent: rgb(120, 78, 58, 0.35);
    --bg-button: #BA713D;

    --fg-light: #d5c4a1;
    --font-regular: Montserrat, sytem-ui, sans-serif;
    --font-heading: Pacifico, arial;

    --container-padding: 2rem 4rem;
}

p {
    line-height: 1.5;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.img {
    display: block;
    width: 500px;
    height: auto;
    aspect-ratio: 1/1;
}

@font-face {
    font-family: Montserrat;
    src: url("./asset/fonts/Monsterrat/Montserrat-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Pacifico;
    src: url("./asset/fonts/Pacifico-regular/Pacifico-regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

html {
    color: var(--fg-light);
    background: linear-gradient(45deg, var(--bg-prime), var(--bg-prime-2));
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: var(--font-regular);
}

.head-text {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 3rem;
}

.body-text {
    font-family: var(--font-regular);
    font-weight: 400;
}

.hl-text {
    background-color: var(--bg-second);
    width: calc(1.5ch + 4px);
}


button {
    background-color: var(--bg-button);
    color: var(--fg-light);
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: var(--container-padding);

    .head-text {
        font-weight: bold;
    }

    .nav-buttons {
        display: flex;
        gap: 1rem;
    }
}

#home {
    .hero {
        display: flex;
        justify-content: end;
        gap: 1rem;
        min-height: 700px;
        margin: 0 auto;
        padding: var(--container-padding);
        position: relative;
        background-color: var(--bg-second);
    }


    .hero>div:first-child {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        background-color: var(--bg-second-transparent);
        padding: 1rem 3rem;
        z-index: 1;

        .head-text {
            width: 16ch;
            font-size: 4rem;
        }

        .body-text {
            font-size: 1.5rem;
        }

    }

    .hero>div:last-child {
        width: 75%;
    }


    .schedules {
        margin-top: 2rem;
        padding: var(--container-padding);
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .head-text {
            font-size: 3rem;
            text-align: center;
        }

        .time-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            li {
                display: flex;
                gap: 1rem;
                font-size: 1.5rem;
                border: 2px solid var(--bg-second);

                > :first-child {
                    background-color: var(--bg-second);
                }

                >* {
                    padding: 0.5em;
                    width: 16ch;
                    text-align: center;
                }
            }
        }
    }
}

#brewery {
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .head-text {
        text-align: center;
    }

    /* product list */
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 1rem;

        div:last-child {
            display: flex;
            flex-direction: column;
        }

        li:nth-child(5) article .img,
        li:nth-child(6) article .img {
            object-position: top;
        }

        li article {
            display: flex;
            flex-direction: column;
            position: relative;
            border: 1px solid var(--bg-second);
            border-radius: 12px;

            div:first-child {
                padding: 1rem;

                .img {
                    max-width: 100%;
                    height: auto;
                    display: block;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                }
            }

            .name {
                background-color: var(--bg-second);
                align-self: start;
                padding: 0 1em;
            }

            .description {
                padding: 1rem;
            }

            .price {
                align-self: end;
                position: absolute;
                top: 0;
                right: 0;
                background-color: var(--bg-prime-2);
                width: 8ch;
                text-align: center;
                border-top-right-radius: 12px;
            }


        }
    }
}

#contact {
    margin-bottom: 5rem;
    .head-text {
        text-align: center;
        margin-bottom: 2rem;
    }

    .outer-div {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .inner-div {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .form {
        display: flex;
        flex-direction: column;

        input, textarea {
            display: block;
            padding: 0.5em 1em;
            background-color: var(--bg-second-transparent);
            border: none;
            margin-block: 8px;
            color: var(--fg-light);
        }

        input:focus, textarea:focus {
            background-color: var(--bg-second);
        }

        input {
            width: 75ch;
        }

        textarea {
            resize: none;
            width: 70ch;
            height: 400px;
        }
    }

}

footer {
    padding: var(--container-padding);
    background-color: var(--bg-prime);
    text-align: center;
}
