* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-prime: #311603;
    --bg-prime-2: #5e3417;
    --bg-second: #784E3A;
    --bg-second-transparent: rgb(120, 78, 58, 0.3);
    --bg-button: #BA713D;

    --fg-light: #d5c4a1;
    --font-regular: Montserrat, sytem-ui, sans-serif;
    --font-heading: Pacifico, arial;
}

img {
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: Montserrat;
    src: url("./asset/fonts/Monsterrat/Montserrat-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Pacifico;
    src: url("./asset/fonts/Pacifico-regular/Pacifico-regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

html {
    color: var(--fg-light);
    background: linear-gradient(45deg, var(--bg-prime), var(--bg-prime-2));
    background-repeat: no-repeat;
    min-height: 100vh;
}

.head-text {
    font-family: var(--font-heading);
    font-weight: 400;
}

.body-text {
    font-family: var(--font-regular);
    font-weight: 400;
}

.hl-text {
    background-color: var(--bg-second);
    display: inline-block;
    width: calc(1.5ch + 4px);
}


button {
    background-color: var(--bg-button);
    color: var(--fg-light);
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;

    .head-text {
        font-weight: bold;
    }
}

#home {
    .hero {
        display: flex;
        justify-content: end;
        gap: 1rem;
        min-height: 700px;
        margin: 0 auto;
        padding: 1rem 2rem; 
        position: relative;
        background-color: var(--bg-second);
    }

    .hero::after {
        content: "";
        position: absolute;
        width: 5rem;
        height: calc(100% - 2.2rem);
        background-color: var(--bg-prime-2);
        left: 20rem;
    }

    .hero>div:first-child {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        background-color: var(--bg-second-transparent);
        padding: 1rem 3rem;
        z-index: 1;

        .head-text {
            font-size: 4rem;
        }

        .body-text {
            font-size: 1.5rem;
        }

    }

    .hero>div:last-child {
        width: 75%;
    }


    .schedules {
        margin-top: 2rem;
        padding: 1rem 2rem;

        .head-text {
            font-size: 3rem;
            text-align: center;
        }

    }
}
